footer
{
    font-family: lato;
    margin: 0;
    font-size: 14px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    color: white;
    background-color: #192537;
}
.footer > *
{
    flex: 65%;
}
.footer ul
{
    list-style: none;
    padding-left: 5px;
}
.footer li
{
    line-height: 2em;
    font-size: 18px;
}
.footer a
{
    text-decoration: none;
}
.footer_left
{
    margin-right: 90px;
}
.footer_left img
{
    width: 400px;
    padding-left: 20px;
}
.footer_left p
{
    text-align: center;
    padding-left: 25px;
    font-size: 16px;
    color: #B09E80;
}
.footer_left a
{
    color: white;
}
h1
{
    font-weight: 400;
    font-size: 25px;
    padding: 5;
    color: #B09E80;
}
.footer_right
{
    display: flex;
    flex-flow: row wrap;
    padding-top: 10px;
    padding-bottom: 30px;
}
.footer_right > *
{
    flex: 1 50%;
    margin-top: 10px;
    margin-right: 60px;
}
.box a
{
    color: white;
}
.box a:hover
{
    color: #B09E80;
}
.footer_bottom
{
    padding: 10px;
    background-color: #283b58;
    text-align: center;
    font-family: comic sans ms;
    color: #B09E80;
    font-size: 18px;
}
@media screen and (min-width: 600px)
{
    .footer_right > *
    {
        flex: 5;
    }
    .footer_left
    {
        flex: 1 0px;
    }
    .footer_right
    {
        flex: 2 1px
    }
}